button {
	color: green;
	background-color: black;
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
	border-color: green;
	border-radius: 2px;
}

button:hover {
	background-color: green;
	color: black;
}

button:active {
	background-color: green;
	color: white;
}

span {
	color: green;
}

span:hover {
	color: white;
	cursor: pointer;
}

.selected {
	color: white;
	font-size: 1.1em;
	font-weight: bold;
}
