.container {
	display: flex;
	justify-content: center;

	height: 90vh;
}

.inner-container {
	display: flex;
	flex-direction: column;
	background-color: black;
	height: 100%;
	width: 411px;

	padding: 10px 10px 10px 10px
}

.text {
	flex-grow: 1;
	overflow: auto;
}

.commands {
	border-top: 2px solid green;
	padding-top: 10px;
	text-align: center;
	user-select: none;
}

.commands span {
	margin-left: 10px;
	margin-right: 10px;
}
