.container {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.inner-container {
	display: flex;
	flex-direction: column;
	background-color: black;

	height: 480px;
	width: 380px;
	margin: auto;

	border: 2px solid green;

	padding: 10px 10px 10px 10px
}

.text {
	flex-grow: 1;
	overflow: auto;
}

.commands {
	border-top: 2px solid green;
	padding-top: 10px;
	text-align: center;
	user-select: none;
}

.commands span {
	margin-left: 10px;
	margin-right: 10px;
}
